APP_PORT=8080

DB_HOST=mysql
DB_PORT=3306
DB_USER=root
DB_PASSWORD=root
DB_NAME=disbursement_db

# Use a long random value in your local .env
JWT_SECRET=replace_with_a_long_random_secret
JWT_EXPIRES_IN_HOURS=24

GIN_MODE=debug
